<ion-content class="ion-text-center header-scss">
  <ion-toolbar class="background-color">

    <img type="image/svg+xml" width="60%" height="60%" src="../../../assets/img/logol.svg" />

  </ion-toolbar>
</ion-content>


<ion-content class="content-scss">

  <ion-section action="" class="container">
    <ion-input type="Email" name="email" class="input" placeholder="Email"  [(ngModel)]="data.email"></ion-input>
    <ion-button class="button" type="submit" (click)="send()" >Send Password</ion-button>
  </ion-section>

  <a class="container" routerLink="/login" >Back</a>

</ion-content>

 